


body{
  ju
}










*,
*:before,
*:after {
  box-sizing: border-box;
}

img{
  width: 100%;
}




div,
main,
section,
footer,
main,
header {
  outline: 1px solid grey;
  min-height: 1rem;
  padding: 1rem;


}

.row{
  display: grid;
  row-gap: 1rem;
  
}

.col{
  position: relative;
  background-color: bisque;
}

.column{
  background-color: bisque;
}

.row{
  max-width: 75rem;
  column-gap: 1rem;
  row-gap: 1rem;
  text-align: center;
}

/* Small only */
@media screen and (max-width: 39.9375em) {}

/* Medium and up */
@media screen and (min-width: 40em) {

  .m-row-2{
    grid-template-columns: 1fr 1fr;
  }

  .m-row-3{
    grid-template-columns: repeat(2, 1fr);
  }

  .m-row-4{
    grid-template-columns: repeat(2, 1fr);
  }

}


/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {}

/* Large and up */
@media screen and (min-width: 64em) {
  .m-row-2{
    grid-template-columns: repeat(4, 1fr);
  }
  
  .m-row-3{
    grid-template-columns: 1fr 1fr 1fr;
  }

  .m-row-4{
    grid-template-columns: repeat(3, 1fr);
  }

  .column{
    display: none;
   


}

/* Large only */
@media screen and (min-width: 64em) and (max-width: 74.9375em) {

}